* {
  margin: 0

}

body {
  background-color: grey;
}

#title {
  display: flex;
  justify-content: center;
}

main {
  position: absolute;
  border: 2px solid black;
  height: 650px;
  width: 700px;
}

.bet-container {
  flex-direction: flex;
  flex-direction: row;
  margin: 490px 0;
  padding-right: 500px;
  justify-content: left;
}

.bet {
  font-size: 20px;
  height: 30px;
  display: flex;
  margin: -15px 0;
}

#place-bet {
  margin-top: 25px;
}


.increase-decrease-button {
  padding-left: 20px;
  margin-top: 24px;
}

#bet-button {
  text-align: center;
  font-size: 26px;
  height: 42px;
  width: 63px;
  margin-left: 500px;
}

#total-credit {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: auto;
}


#cash-out-button {
  height: 40px;
  width: 100px
}

#hit-card {
  display: flex;
  margin: 220px 135px;
  border: 1px solid black;
}

#computer-section {
  display: flex;
  margin: -845px 135px;

  border: 1px solid black;
}

.play-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1180px 200px;
  padding-right: 57px;
}

#stay-button {
  margin-left: 320px;
} 

#hit-button {
  margin: 0 30px;
}

div {
  margin: 80px 200px;
}

